*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aCont {
    background: gray;
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid black;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;}

.aCont input {
    margin: 10px 0;
    width: 80%;
    padding: 10px;
}

.aServices{
    background: white;
    height: 100%;
}

body{
    background: #DCEAF7;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("image.jpg");
    background-size: cover; /* Asegura que la imagen cubra todo el ancho */
    background-position: center; 
    color: white;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
}

nav{
    background: rgb(89, 176, 234);
    text-align: center;
    height: 50px;
    line-height: 50px;
}

nav a{
    list-style: none;
    color: white;
    margin: 0px 80px;
}

section{
    text-align: center;
}

.services{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: auto;
}